style.css
*{
	font-family: Helvetica, Arial
}
body{
	background-color: rgb(117,117,163);
}
#tesla{
	background-color: blue
}
img{
	background-color: black;
	display: block;
	width: 500px; 
	padding: 5px 5px;
	border:2px white solid;
	margin: 10px auto;
}