style.css
*{
	font-family: Helvetica, Arial
}
#header1{
	width: 250;
	border: 2px black solid;
	margin: 1px auto;
}

img{
	background-color: black;
	display: block;
	width: 250px; 
	padding: 5px 5px;
	border:2px white solid;
	margin: 10px auto;
}